SetEnv PHPRC /next/production/blogOOp/php.ini
php_value display_errors 1

RewriteEngine On
RewriteCond %{REQUEST_fileNAME} !-d
RewriteCond %{REQUEST_fileNAME} !-f


RewriteRule ^([^/\.]+)$ index.php?url=$1